*{
  background-color: #ededed;
  font-family: "Roboto Light",sans-serif;
  color: #34495E;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.logo{
  display: block;
  margin: auto;
}